<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.pokladna">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MANAGE_EXTERNAL_STORAGE" />

    <application
        android:name=".StartClass"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Pokladna"
        tools:targetApi="31">
        <activity
            android:name=".ui.Login"
            android:exported="true" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".BuySection.BuyMoreActivity"
            android:exported="false"
            android:label="Dokoupit"
            android:parentActivityName=".BuySection.Buy" />
        <activity
            android:name=".BuySection.BuyToStorage"
            android:exported="true"
            android:label="@string/buyItem"
            android:parentActivityName=".BuySection.Buy" />
        <activity
            android:name=".BuySection.Buy"
            android:exported="true"
            android:label="@string/buy"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="@string/cashRegister"
            android:parentActivityName=".ui.Login" >
        </activity>
        <activity
            android:name=".EditSection.Storage"
            android:exported="true"
            android:label="@string/storage"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".EditSection.AddToStorage"
            android:exported="true"
            android:label="@string/addItem"
            android:parentActivityName=".EditSection.Storage" />
        <activity
            android:name=".EditSection.UpdateActivity"
            android:exported="true"
            android:label="@string/updateItem"
            android:parentActivityName=".EditSection.Storage" />
        <activity
            android:name=".SellSection.Sell"
            android:exported="true"
            android:label="@string/selling"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".Debts.Debts"
            android:exported="true"
            android:label="@string/debts"
            android:parentActivityName=".MainActivity" />
    </application>

</manifest>